/* font-family: 'Yeseva One', cursive;*/
body {
  font-family: 'Yeseva One', cursive;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Nunito', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Yeseva One', cursive;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #57558d;
}


.hero-section {
  background-color: #F0FFF0;
  min-height: 100vh;
}

.navbar-brand img {
  width: 25%;
}

.hero-content h5 {
  color: #FD511A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

}

.hero-content h1 {
  color: #000000;
  font-size: 48px;
  font-weight: 600;
  line-height: 70px;
}

.hero-content h1 span {
  color: #21B573;
}

.hero-content p {
  color: #6C6B6B;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
}

.btn-custom {
  color: #FFFFFF;
  background: #21B573;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid black;
}

.feature-content {
  background: #F8FFFB;
  border-radius: 10px;
  padding: 50px 0;
}

.feature-content img {
  width: 20%;
}

.feature-content h2 {
  color: #413960;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 15px;
}

.feature-content p {
  color: #585859;
  font-size: 16px;
  line-height: 24px;
}

.feature-content:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.course {
  background: #fff;
  padding: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

.course img {
  border-radius: 11px;

}

.course h2 {
  color: #413960;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 30px;
}

.course h5 {
  color: #585859;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.btn-course {
  color: #FFFFFF;
  background-color: #21B573;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  padding: 6px 12px;
  border-radius: 50px;
  margin: 20px 0;
}

.btn-course:hover {
  background-color: #46a553;
  color: #FFFFFF;
}

.course ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.course ul li {
  color: #585859;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.course ul li i {
  margin-right: 10px;
}

.heading h1 {
  color: #000000;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
}

.client {
  width: 40%;
  margin-left: auto;
}

.testimonial p {
  line-height: 30px;
  color: #000;
}

footer {
  background: #282531;
  color: #fff;
}

footer p {
  font-size: 16px;
line-height: 30px;  
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  font-weight: 200;
}

footer ul li:first-child {
  font-weight: 600;
}